
//BLOCK2 advantages
.section-advantages {
    background-size: cover;
    background-position: center;
    /*    @media screen and (max-width: $screen-tablet){
            background-image: url('../img/advantages-bg-lowres.jpg');
        }
        @media screen and (min-width: $screen-tablet){
            background-image: url('../img/advantages-bg-hires.jpg');
        }*/
    .advantages-wrapper {
        margin-top: 3.2em;
    }
    .advantages-icon {
        margin-bottom: 3.7em;
        .img-responsive {
            margin: 0 auto;
        }
    }
    .advantages-unit {
        text-align: center;
        max-width: 230px;
        margin: 0 auto;
    }
    .unit-heading {
        height: 2.2em;
    }
    .advantages-unit-text {
        font-size: 1.1em;
        font-weight: 700;
        line-height: 2;
        display: inline-block;
    }
    .jagged-line {
        position: absolute;
        width: 100%;
        height: 8px;
        background: url("../img/jagged-line.png");
        &.top {
            top: 1.5em;
        }
        &.bottom {
            bottom: 1em;
        }
    }

}
