//BLOCK3 collection
.section-collection {
    position: relative;
    background: url("../img/collection-bg.jpg");
    padding-bottom: 0;
    .gradient-wrapper {
        // http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100
        @include filter-gradient(#ffffff, #ffffff, vertical); // IE6-9
        @include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%));
    }
    .collection-bottom-bg {
        height: 5.4em;
        background: #f7fbfa;
    }
}

.collection-menu {
    margin: 2em 0 2em;
    li {
        position: relative;
        &::after {
            content: '/';
            position: absolute;
            top: 0;
            right: -.4em;
        }
        &:nth-last-child(1)::after {
            display: none;
        }
    }
    /*    @media only screen and(max-width: $screen-sm-min) {
            position: fixed;
            top: 20%;
            right: 0;
            z-index: 2;
            li{
                text-shadow: 0 0 1px white;
                font-size: 14px;
                text-align: left;
                padding: 1em 1em 5px;
                display: block;
                &::after{
                    display: none;
                }
            }
        }*/
}

.choose-collection {
    border: none;
    background: none;
    &.active {
        color: $red-color-2;
    }
}

.collection-wrapper {
    .collection-block {
        width: 100%;
        max-width: 19em;
        height: 37em;
        box-shadow: 0 0 0 1px $gray-lighter;
        margin: 2.6em auto 0;
        overflow: hidden;
        @media only screen and(max-width: $screen-lg-min) and (min-width: $screen-md-min) {
            height: auto;
        }

        &:nth-last-of-type(1)::after {
            content: '';
            display: block;
        }
    }
}

.model-name, .model-price {
    margin: .5em 0;
}

.item-review {
    padding: 1em;
    background: #f8f8f8;
}

@media only screen and(max-width: $screen-lg-min) {
    .item-review {
        font-size: 80%;
    }
}

.item-photo {
    position: relative;
    background-size: cover;
    .spacer {
        padding-top: 150%;
        font-size: 0;
    }
    .photo-hover-block {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding-top: 60%;
        opacity: 0;
        &:hover,
        &:focus,
        &:active {
            background-color: $collection-hover-bg;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
            opacity: 1;
        }

    }
    .btn-header-action {
        width: 70%;
    }
    .collection-btn-group {
        margin-top: 1em;
        .collection-btn {
            width: 25%;
            margin: 0 .5em;
        }
    }
    .star-line {
        margin-top: 1em;
        display: inline-block;
    }
}

.model-price {
    li {
        font-size: 1.5em;
        width: 50%;
        padding: 0;
        span {
            display: inline-block;
            position: relative;
        }
        &.old-price {
            font-weight: 700;
            span {
                padding: .3em 0;
                background: url("../img/icons/old-price-icon.png") no-repeat;
                background-size: contain;
            }
        }
        &.current-price {
            color: $red-color;
            strong {
                font-size: 120%;
            }
            span::before {
                content: '';
                position: absolute;
                width: 1.2em;
                height: 1.2em;
                background: url("../img/icons/current-price-icon.png") no-repeat center;
                background-size: 100%;
                left: -1.2em;
                top: .1em;
            }
        }
    }
}
