//BLOCK3 collection

.section-collection {
    background: url("../img/collection-bg.jpg");
}

.collection-wrapper {
    .collection-block {
        width: 100%;
        max-width: 19em;
        height: 37em;
        box-shadow: 0 0 0 1px $gray-lighter;
        margin: 1.3em auto;
        &:nth-last-of-type(1)::after {
            content: '';
            display: block;
        }
    }
}

.model-name, .model-price {
    margin: .5em 0;
}

.item-review {
    padding: 1em;
}

.item-photo {
    position: relative;
    background-size: cover;
    .spacer {
        padding-top: 150%;
        font-size: 0;
    }
    .photo-hover-block {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding-top: 60%;
        opacity: 0;
        &:hover,
        &:focus,
        &:active {
            background-color: $collection-hover-bg;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
            opacity: 1;
        }

    }
    .btn-header-action {
        width: 70%;
    }
    .collection-btn-group {
        margin-top: 1em;
        .collection-btn {
            width: 25%;
            margin: 0 .5em;
        }
    }
    .star-line {
        margin-top: 1em;
        display: inline-block;
    }
}

.model-price {
    li {
        font-size: 1.5em;
        width: 50%;
        padding: 0;
        span {
            display: inline-block;
            position: relative;
        }
        &.old-price {
            font-weight: 700;
            span {
                padding: .3em 0;
                background: url("../img/icons/old-price-icon.png") no-repeat;
                background-size: contain;
            }
        }
        &.current-price {
            color: $red-color;
            strong {
                font-size: 120%;
            }
            span::before {
                content: '';
                position: absolute;
                width: 1.2em;
                height: 1.2em;
                background: url("../img/icons/current-price-icon.png") no-repeat center;
                background-size: 100%;
                left: -1.2em;
                top: .1em;
            }
        }
    }
}
