$form-border-color: rgba(0, 0, 0, .25);
$form-input-color: rgba(171, 143, 131, .75);
$input-text-color: #827066;
$form-label-color: #767676;
$red-color: #da2536;
$red-color-2: $brand-danger;
$collection-hover-bg: rgba(48, 48, 48, .6);
//Ionicons

@font-face {
    font-family: "Ionicons";
    src: url("../fonts/ionicons.eot?v=2.0.0");
    src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
    url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),
    url("../fonts/ionicons.woff?v=2.0.0") format("woff"),
    url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Webfont: Lato-Bold */
//noinspection ALL
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: Italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/PlayfairDisplay-Italic.eot");
    src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: Italic;
}

//noinspection ALL
@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
//noinspection ALL
@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

//noinspection ALL
/* Webfont: Lato-Regular */
//noinspection ALL
@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
//noinspection ALL
@font-face {
    font-family: 'LatoWebSemibold';
    src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    font-family: $font-family-base;
}

body, html {
    position: relative;
    height: 100%;
}

body {
    @media only screen and(max-width: $screen-md-min) {
        font-size: 10px;
    }
}

h1 {
    @media only screen and(max-width: $screen-md-min) {
        font-size: 20px;
    }
}

h2 {
    @media only screen and(max-width: $screen-md-min) {
        font-size: 16px;
    }
}

h4 {
    @media only screen and(max-width: $screen-md-min) {
        font-size: 14px;
    }
}

h1, .banner {
    font-weight: 700;
    color: white;
}

h2 {
    //font-size: 1.7em;
    text-align: center;
    &.section-header {
        //font-size: 2.1em;
    }
}

a, button, input, textarea {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.bold {
    font-weight: 700;
}

.normal-section {
    padding: 3em 0;
    position: relative;
}
.shadow-section{
    &::before {
        content: '';
        background: url("../img/section_shadov_top.png") center;
        width: 100%;
        height: 1.2em;
        position: absolute;
        top: 0;
        background-size: cover;
    }
    &::after {
        content: '';
        background: url("../img/section_shadov_bottom.png") center;
        width: 100%;
        height: 1em;
        position: absolute;
        bottom: 0;
        background-size: cover;
    }
}

.section-header-block {
    text-align: center;
    .section-header {
        font-family: 'Playfair Display', 'LatoWeb', sans-serif;
        font-style: italic;
        font-size: 3em;
        margin: 0;
    }
    .section-header-icon {
        background: url("../img/icons/section-header_icon.png") center;
        background-size: cover;
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        margin-top: .5em;
    }
}

//MY-BTN
.collection-btn {
    font-size: 1em;
    height: 3em;
    color: white;
    &:hover,
    &:focus {
        color: $gray-lighter;
    }
    border-radius: 0;
    &.btn-clear {
        background-color: transparent;
        border-color: white;
    }
    &.btn-black {
        background-color: #303030;
        border-color: transparent;
    }
}

//MY ICONS

.icon-hz {
    background: url("../img/icons/icon-btn-hz.png") no-repeat center;
}

.icon-search {
    background: url("../img/icons/icon-btn-search.png") no-repeat center;
}

.icon-star {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url("../img/icons/icon-star.png") center no-repeat;
}

.icon-form {
    display: inline-block;
    background: url("../img/icons/form-line-icon.png") no-repeat center;
    height: 4px;
    width: 100%;
}
.body-form{
    .i-icons{
        position: relative;
        &::before{
            font-family: 'Ionicons';
            position: absolute;
            height: 40px;
            width: 20px;
            top: 0;
            display: block;
            font-size: 25px;
            padding-top: 7px;
            left: 7px;
            color: #827066;
        }
        &.airplane::before{
            content: '\f2c3';
        }
        &.person::before{
            content: '\f213';
            left: -30px;
            padding-top: 4px;
        }
        &.telephone::before{
            content: '\f4b9';
            left: -30px;
            padding-top: 4px;
        }
    }
}

.jagged-line {
    position: absolute;
    width: 100%;
    height: 8px;
    background: url("../img/jagged-line.png");
    &.top {
        top: 1.5em;
    }
    &.bottom {
        bottom: 1em;
    }
}
